<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" type="text/css" href="tester.css">
</head>
<body>
    <header>
        <div class="row">
            <div class="logo">
                <img src="Olympics.png">
            </div>
            <ul class="main-nav">
                <li class="active"><a href="">HOME</a></li>
                <li><a href="">ABOUT</a></li>
                <li><a href="">CONTACT</a></li>
                <li><a href="">FAQ</a></li>
            </ul>
        </div>

        <div class="hero">
            <h1>Japan</h1>
            <div class="button">
                <a href="https://www.youtube.com/watch?v=ENMhrEVa4XQ" class="btn btn-one">Watch Video</a>
                <a href="https://tokyo2020.org/en/" class="btn btn-two">Explore More</a>

            </div>
        </div>

    </header>


</body>
</html>